spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/hack_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
server:
  port: 8080


app:
  jwt:
    secret: "ca9860821ee9e7a57219dfadec76a0b7c79e96e9e56cd0ce6dbb7e18c73e6059"
    expiration: 604800 # 7 days
  res:
    xml-path: "src/main/resources/vologda.xml"
  giga-chat:
    auth-token: "MDE5YWNlOWEtM2MyYy03M2E5LWIyYTYtOWNkOTY0OTlkNTE4OmU4ZjQ4OGM1LTEyY2MtNDhjNi05NTI4LTRkMzgxMjEwZmZhNA=="
