spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/hack_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
#  sql:
#    init:
#      mode: always
#      data-locations: classpath:data.sql

server:
  port: 8080


app:
  jwt:
    secret: "ca9860821ee9e7a57219dfadec76a0b7c79e96e9e56cd0ce6dbb7e18c73e6059"
    expiration: 604800 # 7 days
  res:
    xml-path: "src/main/resources/vologda.xml"

springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
